nav {
    grid-area: nav;
 }
 
 div#presentacion {
    grid-area: presentacion;     
 }
 
 #servicios__contenido {
    grid-area: servicios;
    padding: 7% 7% 0 7%;
 }
 
 #recetarios {
   grid-area: recetarios;
 }
 
 footer {
    grid-area: footer;
 }
 
 #servicios__grilla {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "nav" "presentacion" "servicios" "recetarios" "footer";
 }
 
 .servicios__contenido {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    
    
     article {
         margin-top: 3%;
     }
 }
 
 article {
 &.servicios__contenido {
      margin-left: 0;
      margin-right: 0;
      }
   }

   #viandas, #cursos, #consultas, #tallerescocina {
      padding-left: 0;
     }

.recetarios__btn {
   @extend .presentacion__enlace--btn;
   opacity: 80%;
   border: 2px solid $colorPrincipal;
   margin: 5%;
      a {
         @include font(1.1em,600);
      }
      &:hover {
         background-color: white;
      }
}
 
 .comprar {
   @extend .presentacion__enlace--btn;
   background-color: #C6CF66;
   margin-bottom: 10%;
   }
 
 a.comprar {
   font-size: 0.8em;
 }
 
 @media screen and (min-width: 320px) {
    .headerServicios__desktop {
       display: none;
    }
    
    .headerServicios__mobile {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-between;
       align-items: baseline;
    }
    
    .servicios__contenido {
       flex-wrap: wrap;
       margin-right: 0;
       img {
      width: 100%;
      }
    }
    
    .viandas, .consultas, .tallerescocina, .cursos {
      display: none;
      
     }
     
     .viandas-responsive, .consultas-responsive, .tallerescocina-responsive, .cursos-responsive {
      display: block;
     }
    
    h3 {
      padding-top: 3%;
    }
    
    .recetarios {
      display: none;
    }
    
    .recetariosResponsive {
      display: flex;
      background-image: url(../assets/img/servicios-recetarios-responsive.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
 }
    
    
 @media screen and (min-width: 768px) {
    .headerServicios__desktop {
       display: block;
    }
    
    .headerServicios__mobile {
       display: none;}
 
    .servicios__contenido {
         flex-wrap: nowrap;
         div {
             padding-left: 10%;
         }
         img {
            width: auto;
            height: auto;
            max-width: 300px;
            max-height: 300px;
           }
     }
     
     .viandas, .consultas, .tallerescocina, .cursos {
      display: block;
      
     }
     
     .viandas-responsive, .consultas-responsive, .tallerescocina-responsive, .cursos-responsive {
      display: none;
     }
     
     h3 {
      padding-top: 2%
     }
     
     .recetariosResponsive {
      display: none;
     }
     
     .recetarios {
      display: flex;
      background-image: url(../assets/img/servicios-recetarios.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
      flex-direction: row;
      flex-wrap: nowrap;
    }
     
     
     
     #servicios__contenido {
      padding-bottom: 0;
     }
 }
 
 